In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Service_requests.csv",low_memory=False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   create_date_time_gmt    1000000 non-null  object
 1   customer_id_2           1000000 non-null  int64
 2   data_source_code        1000000 non-null  object
 3   priority_code           1000000 non-null  object
 4   priority_desc           979030 non-null   object
 5   service_request_desc    1000000 non-null  object
 6   service_request_id      1000000 non-null  int64
 7   site_name               999816 non-null   object
 8   site_nbr                999461 non-null   object
 9   customer_name           1000000 non-null  object
 10  dispatch_date_time_gmt  350650 non-null   object
 11  offering_desc           985245 non-null   object
 12  offering_id             985245 non-null   object
dtypes: int64(2), object(11)
memory usage: 99.2+ MB

In [5]:
col = df.columns.to_list()
for i in col:
    print(i,((df[i].isnull().sum())/df.shape[0])*100)

create_date_time_gmt 0.0
customer_id_2 0.0
data_source_code 0.0
priority_code 0.0
priority_desc 2.097
service_request_desc 0.0
service_request_id 0.0
site_name 0.0184
site_nbr 0.053899999999999997
customer_name 0.0
dispatch_date_time_gmt 64.935
offering_desc 1.4755
offering_id 1.4755

In [6]:
df.drop(['customer_name','site_name','dispatch_date_time_gmt','customer_id_2'], inplace=True, axis=1)

In [7]:
df = df[df['site_nbr'].notna()]
df = df.reset_index(drop = True)

In [8]:
def remove_hash(string):
    string = string.replace('#','').replace(' ','')
    return string

In [9]:
df['site_nbr'] = df['site_nbr'].apply(remove_hash)

In [10]:
for i in range(df['site_nbr'].shape[0]):
    if len(df['site_nbr'][i]) > 8:
        print(df['site_nbr'][i],i)

6061/7086(SAVANNAH) 335262
6061/7086(SAVANNAH) 335325
6061/7086(SAVANNAH) 337926
6061/7086(SAVANNAH) 337937
6061/7086(SAVANNAH) 337940
6061/7086(SAVANNAH) 338043
6061/7086(SAVANNAH) 338046
NCRNEWWRHS 476635
NCRNEWWRHS 476636
NCRNEWWRHS 476637
NCRNEWWRHS 477466
WAL-MART1904-01 576888
WAL-MART1904-01 577878
NCRNEWWRHS 650837
NCRNEWWRHS 650838
NCRNEWWRHS 650846
6061/7086(SAVANNAH) 875625
6061/7086(SAVANNAH) 879752
NCRNEWWRHS 961935
NCRNEWWRHS 962590
NCRNEWWRHS 963802
NCRNEWWRHS 963813
NCRNEWWRHS 963828
NCRNEWWRHS 963832
NCRNEWWRHS 963857
NCRNEWWRHS 964180
NCRNEWWRHS 964445

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999461 entries, 0 to 999460
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   create_date_time_gmt  999461 non-null  object
 1   data_source_code      999461 non-null  object
 2   priority_code         999461 non-null  object
 3   priority_desc         978508 non-null  object
 4   service_request_desc  999461 non-null  object
 5   service_request_id    999461 non-null  int64
 6   site_nbr              999461 non-null  object
 7   offering_desc         984706 non-null  object
 8   offering_id           984706 non-null  object
dtypes: int64(1), object(8)
memory usage: 68.6+ MB

In [12]:
df['priority_code'] = df['priority_code'].replace('               ','1')

In [13]:
df['priority_code'].value_counts()

2    607454
3    380498
1     11509
Name: priority_code, dtype: int64

In [14]:
df = df[df['priority_desc'].notna()]

In [15]:
df['priority_desc'] = df['priority_desc'].replace('Urgent/Unit Down','2').replace('Not Urgent','3').replace('Very Urgent/Critical','1').replace(' ','1')

In [16]:
df['priority_desc'].value_counts()

2    530998
3    424413
1     23097
Name: priority_desc, dtype: int64

In [17]:
df['data_source_code'] = df['data_source_code'].replace('ES','1').replace('D1','2')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978508 entries, 0 to 999460
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   create_date_time_gmt  978508 non-null  object
 1   data_source_code      978508 non-null  object
 2   priority_code         978508 non-null  object
 3   priority_desc         978508 non-null  object
 4   service_request_desc  978508 non-null  object
 5   service_request_id    978508 non-null  int64
 6   site_nbr              978508 non-null  object
 7   offering_desc         964140 non-null  object
 8   offering_id           964140 non-null  object
dtypes: int64(1), object(8)
memory usage: 74.7+ MB

In [19]:
df.drop(['service_request_desc','offering_desc'], inplace=True, axis=1)

In [20]:
hi = list('11/7/2020 17:21')

In [21]:
hi

['1', '1', '/', '7', '/', '2', '0', '2', '0', ' ', '1', '7', ':', '2', '1']

In [22]:
def getdate(hi):
    hi = list(hi)
    for i in range(len(hi)):
        if hi[i] == ':':
            hi[i-2] = ''
            hi[i-1] = ''
            hi[i] = ''
            hi[i+1] = ''
            hi[i+2] = ''
    hi = ''.join(hi)
    hi = hi.rstrip()
    return hi

In [23]:
df['create_date_time_gmt'] = df['create_date_time_gmt'].apply(getdate)

In [24]:
df['create_date_time_gmt']

0         11/7/20
1         11/7/20
2         11/7/20
3         11/7/20
4         11/6/20
           ...
999456    9/22/20
999457    9/22/20
999458    9/22/20
999459    9/22/20
999460    9/22/20
Name: create_date_time_gmt, Length: 978508, dtype: object

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978508 entries, 0 to 999460
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   create_date_time_gmt  978508 non-null  object
 1   data_source_code      978508 non-null  object
 2   priority_code         978508 non-null  object
 3   priority_desc         978508 non-null  object
 4   service_request_id    978508 non-null  int64
 5   site_nbr              978508 non-null  object
 6   offering_id           964140 non-null  object
dtypes: int64(1), object(6)
memory usage: 59.7+ MB

In [33]:
df

,index,create_date_time_gmt,data_source_code,priority_code,priority_desc,service_request_id,site_nbr,offering_id
0,0,11/7/20,1,3,3,18355021307,3825-01,5900-1039-9802
1,1,11/7/20,1,3,3,18941021307,0146-01,7350-7012-9090
2,2,11/7/20,1,2,2,12619021307,1076-01,7350-7012-9090
3,3,11/7/20,1,2,2,17591021307,3805-01,7932-9996-9990
4,4,11/6/20,1,3,3,11894111307,1451-01,7932-4820-9898
...,...,...,...,...,...,...,...,...
978503,999456,9/22/20,1,2,3,12356066207,4797-18,7932-5551-9802
978504,999457,9/22/20,1,2,2,16086166207,1173-01,7350-7012-9090
978505,999458,9/22/20,1,2,2,18055066207,0690-01,7932-9996-9990
978506,999459,9/22/20,1,2,3,12356066207,4797-18,7932-5551-9802
978507,999460,9/22/20,1,3,3,19156066207,3339-01,7687-0013-0000

In [34]:
df[df['site_nbr'] == '3425']

Empty DataFrame
Columns: [create_date_time_gmt, data_source_code, priority_code, priority_desc, service_request_id, site_nbr, offering_id]
Index: []

In [36]:
df.reset_index().to_feather('DCS_ServiceRequest_preprocessed.feather')