In [3]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pylab as plt
#importing seaborn for statistical plots
import seaborn as sns

In [4]:
events_feather = pd.read_feather("DCS_Events_preprocessed.feather")

In [5]:
events_feather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 15 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   dcs_severity                       1000000 non-null  int64
 1   dcs_eventid                        1000000 non-null  category
 2   dcs_storeidentifier                1000000 non-null  int64
 3   event_date                         1000000 non-null  object
 4   dcs_category_BNR Empty             1000000 non-null  uint8
 5   dcs_category_BNR Error             1000000 non-null  uint8
 6   dcs_category_BNR Jammed            1000000 non-null  uint8
 7   dcs_category_BNR Open              1000000 non-null  uint8
 8   dcs_category_Event Log             1000000 non-null  uint8
 9   dcs_category_GenSW                 1000000 non-null  uint8
 10  dcs_category_PropertySubscription  1000000 non-null  uint8
 11  dcs_category_SNMP Ping Fail Event  1000000 non-null  uint8
 12  dcs_category_Usage Alarm           1000000 non-null  uint8
 13  dcs_category_undefined             1000000 non-null  uint8
 14  event_health                       1000000 non-null  int64
dtypes: category(1), int64(3), object(1), uint8(10)
memory usage: 41.0+ MB

In [6]:
service_request_feather = pd.read_feather("DCS_ServiceRequest_preprocessed.feather")

In [7]:
service_request_feather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978508 entries, 0 to 978507
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   index                 978508 non-null  int64
 1   create_date_time_gmt  978508 non-null  object
 2   data_source_code      978508 non-null  object
 3   priority_code         978508 non-null  object
 4   priority_desc         978508 non-null  object
 5   service_request_id    978508 non-null  int64
 6   site_nbr              978508 non-null  object
 7   offering_id           964140 non-null  object
dtypes: int64(2), object(6)
memory usage: 59.7+ MB

In [11]:
events_feather.head(2)

,dcs_severity,dcs_eventid,dcs_storeidentifier,event_date,dcs_category_BNR Empty,dcs_category_BNR Error,dcs_category_BNR Jammed,dcs_category_BNR Open,dcs_category_Event Log,dcs_category_GenSW,dcs_category_PropertySubscription,dcs_category_SNMP Ping Fail Event,dcs_category_Usage Alarm,dcs_category_undefined,event_health
0,2,002,5546,200714,0,0,0,0,0,0,0,0,0,1,0
1,2,002,5546,200715,0,0,0,0,0,0,0,0,0,1,0

In [12]:
service_request_feather.head(2)

,index,create_date_time_gmt,data_source_code,priority_code,priority_desc,service_request_id,site_nbr,offering_id
0,0,11/7/20,1,3,3,18355021307,3825-01,5900-1039-9802
1,1,11/7/20,1,3,3,18941021307,0146-01,7350-7012-9090