In [281]:
import pandas as pd

In [282]:
df = pd.read_csv("C:\incident data\service request.csv",low_memory=False)

In [283]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   create_date_time_gmt    1000000 non-null  object
 1   customer_id_2           1000000 non-null  int64
 2   data_source_code        1000000 non-null  object
 3   priority_code           1000000 non-null  object
 4   priority_desc           979030 non-null   object
 5   service_request_desc    1000000 non-null  object
 6   service_request_id      1000000 non-null  int64
 7   site_name               999816 non-null   object
 8   site_nbr                999461 non-null   object
 9   customer_name           1000000 non-null  object
 10  dispatch_date_time_gmt  350650 non-null   object
 11  offering_desc           985245 non-null   object
 12  offering_id             985245 non-null   object
dtypes: int64(2), object(11)
memory usage: 99.2+ MB

In [284]:
col = df.columns.to_list()
for i in col:
    print(i,((df[i].isnull().sum())/df.shape[0])*100)

create_date_time_gmt 0.0
customer_id_2 0.0
data_source_code 0.0
priority_code 0.0
priority_desc 2.097
service_request_desc 0.0
service_request_id 0.0
site_name 0.0184
site_nbr 0.053899999999999997
customer_name 0.0
dispatch_date_time_gmt 64.935
offering_desc 1.4755
offering_id 1.4755

In [285]:
df.drop(['customer_name','site_name','dispatch_date_time_gmt','customer_id_2'], inplace=True, axis=1)

In [286]:
df = df[df['site_nbr'].notna()]
df = df.reset_index(drop = True)

In [287]:
def remove_hash(string):
    string = string.replace('#','').replace(' ','')
    return string

In [288]:
df['site_nbr'] = df['site_nbr'].apply(remove_hash)

In [289]:
for i in range(df['site_nbr'].shape[0]):
    if len(df['site_nbr'][i]) > 8:
        print(df['site_nbr'][i],i)

6061/7086(SAVANNAH) 335262
6061/7086(SAVANNAH) 335325
6061/7086(SAVANNAH) 337926
6061/7086(SAVANNAH) 337937
6061/7086(SAVANNAH) 337940
6061/7086(SAVANNAH) 338043
6061/7086(SAVANNAH) 338046
NCRNEWWRHS 476635
NCRNEWWRHS 476636
NCRNEWWRHS 476637
NCRNEWWRHS 477466
WAL-MART1904-01 576888
WAL-MART1904-01 577878
NCRNEWWRHS 650837
NCRNEWWRHS 650838
NCRNEWWRHS 650846
6061/7086(SAVANNAH) 875625
6061/7086(SAVANNAH) 879752
NCRNEWWRHS 961935
NCRNEWWRHS 962590
NCRNEWWRHS 963802
NCRNEWWRHS 963813
NCRNEWWRHS 963828
NCRNEWWRHS 963832
NCRNEWWRHS 963857
NCRNEWWRHS 964180
NCRNEWWRHS 964445

In [290]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999461 entries, 0 to 999460
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   create_date_time_gmt  999461 non-null  object
 1   data_source_code      999461 non-null  object
 2   priority_code         999461 non-null  object
 3   priority_desc         978508 non-null  object
 4   service_request_desc  999461 non-null  object
 5   service_request_id    999461 non-null  int64
 6   site_nbr              999461 non-null  object
 7   offering_desc         984706 non-null  object
 8   offering_id           984706 non-null  object
dtypes: int64(1), object(8)
memory usage: 68.6+ MB

In [291]:
df['priority_code'] = df['priority_code'].replace('               ','1')

In [292]:
df['priority_code'].value_counts()

2    607454
3    380498
1     11509
Name: priority_code, dtype: int64

In [293]:
df = df[df['priority_desc'].notna()]

In [294]:
df['priority_desc'] = df['priority_desc'].replace('Urgent/Unit Down','2').replace('Not Urgent','3').replace('Very Urgent/Critical','1').replace(' ','1')

In [295]:
df['priority_desc'].value_counts()

2    530998
3    424413
1     23097
Name: priority_desc, dtype: int64

In [296]:
df['data_source_code'] = df['data_source_code'].replace('ES','1').replace('D1','2')

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978508 entries, 0 to 999460
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   create_date_time_gmt  978508 non-null  object
 1   data_source_code      978508 non-null  object
 2   priority_code         978508 non-null  object
 3   priority_desc         978508 non-null  object
 4   service_request_desc  978508 non-null  object
 5   service_request_id    978508 non-null  int64
 6   site_nbr              978508 non-null  object
 7   offering_desc         964140 non-null  object
 8   offering_id           964140 non-null  object
dtypes: int64(1), object(8)
memory usage: 106.9+ MB

In [302]:
df.drop(['service_request_desc','offering_desc'], inplace=True, axis=1)

In [307]:
df['create_date_time_gmt'][0]

'11/7/2020 17:21'